# Logs
npm-debug.log*

# Coverage directory
coverage

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Build output directory
dist

# Editors
.idea
.vscode

# Others
.DS_Store